@font-face {
  font-family: 'Next_Art';
  src: url('fonts/Next_Art/NEXT ART_Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Next_Art_Bold';
  src: url('fonts/Next_Art/NEXT ART_Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Next_Art_Light';
  src: url('fonts/Next_Art/NEXT-ART_Light.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Terminator_Gen';
  src: url('fonts/Terminator_Gen/terminatorgen.otf');
  font-weight: normal;
  font-style: normal;
}