@import './fonts.scss';
@import './variables.scss';
@import './libs/normalize.scss';

@import './components/all.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: $background;
  background-size: contain;
  background-repeat: repeat-y;
  padding: 20px;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  max-width: 1400px;
  // padding: 20px;
}